# Python Einführung

- *kursiv*
- **fett**
- ***fett und kursiv***
- ~~~durchgestrichen~~

## Erste Anweisungen

In [1]:
# Hier wird etwas ausgeprintet
print ("Hello World!")

Hello World!

In [2]:
Hello World!

SyntaxError: invalid syntax (<ipython-input-2-a0b65939670b>, line 1)

## Einfache Datentypen

In [3]:
name = "Lovelace"
print (name)

Lovelace

In [4]:
first_name = "Ada"
print (first_name)

Ada

In [5]:
# Integer - Ganzzahlen
age = 73
print (age)

73

In [6]:
# float - Gleitkommazahlen
size = 1.7123

In [7]:
# Boolean
knows_math = True
likes_gardening = False
print(knows_math)
print (likes_gardening)

True
False

In [8]:
type (name)

str

In [9]:
type (likes_gardening)

bool

In [10]:
name

'Lovelace'

In [11]:
age

73

In [12]:
print (name)
print (age)

Lovelace
73

In [13]:
type (age)

int

## Operatoren

In [14]:
5 + 5

10

In [15]:
age * 100

7300

In [16]:
name + name

'LovelaceLovelace'

In [17]:
first_name * 10

'AdaAdaAdaAdaAdaAdaAdaAdaAdaAda'

In [18]:
first_name + " " + name

'Ada Lovelace'

In [19]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [23]:
name + "10"

'Lovelace10'

In [24]:
size / age

0.023456164383561642

In [25]:
number_of_articles = "50"

In [20]:
number_of_articles / 10

NameError: name 'number_of_articles' is not defined

In [21]:
int(number_of_articles) / 10

NameError: name 'number_of_articles' is not defined

## Funktionen und Methoden

In [22]:
#Anzahl Zeichen in einem String (Länge)
len(name)

8

In [26]:
len(first_name)

3

In [27]:
name.upper()

'LOVELACE'

In [28]:
#Wie häufig kommt ein Zeichen vor?
name.count("e")

2

In [29]:
#Zeichen ersetzen
name.replace("lace", " is everywhere")

'Love is everywhere'

# Listen

In [30]:
# Liste
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [31]:
names[0]

'Lovelace'

In [32]:
names[-1]

'Hawking'

In [33]:
#Das erste Element ist inklusive (ab und mit), das letzte ELement exklusive (bis zu aber nicht mit)...
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [34]:
#Alles bis aber ohne den Namen 2
names[:2]

['Lovelace', 'Darwin']

In [35]:
#Alles nach dem Namen 2
names[2:]

['Curie', 'Hawking']

# Dictionaries

In [36]:
authors_and_birth_years = {"Lovelace": 1815, "Darwin": 1809, "Noether": 1882, "Hawkin": 1942}

In [37]:
authors_and_birth_years["Darwin"]

1809

In [38]:
authors_and_birth_years["DARWIN"]

KeyError: 'DARWIN'

# for-Schleifen

In [39]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [50]:
for person in names: 
    print(person + " did awesome stuff.")

Lovelace did awesome stuff.
Darwin did awesome stuff.
Curie did awesome stuff.
Hawking did awesome stuff.

In [51]:
print(Käsebrot)

Hawking

In [52]:
%who

Käsebrot	 age	 authors_and_birth_years	 first_name	 knows_math	 likes_gardening	 name	 names	 number_of_articles
person	 size

In [53]:
print(person)

Hawking

## Bedingte Anweisungen (Conditionals)

In [65]:
temp = 20

In [56]:
if temp > 15:
    print("Es ist warm.")

Es ist warm.

In [60]:
20 > 25

False

In [62]:
if temp > 25:
    print("Es ist warm.")

In [63]:
temp = 10

In [66]:
if temp > 15:
    print("Es ist warm.")
else:
    print("Es ist kalt.")

Es ist warm.

In [71]:
temp = 17
if temp > 25:
    print("Es ist heiss.")
elif temp >= 15:
    print("Es ist warm.")
else:
    print("Es ist kalt.")

Es ist warm.